.container .profile {
  height: 300px;
  /* border: 1px solid white; */
  padding: 20px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0), #252525);
  display: flex;
}

.container .profile .logopart {
  /* border: 1px solid white; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .profile .logopart .logo {
  overflow: hidden;
  font-size: 5rem;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  /* border: 1px solid white; */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(90deg, coral, teal);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .profile .namepart {
  /* border: 1px solid white; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.container .profile .namepart .name {
  color: #fff;
}
.container .profile .namepart .name h1 {
  color: #fe8888;
  font-size: 3.5rem;
  text-decoration: underline;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #000;
}

.container .profile .namepart .name h3 {
  font-size: smaller;
}
.container .recipe-item .detailPart .editPart {
  display: flex;
}
.container .recipe-item .detailPart .editPart button {
  background: none;
  border: none;
  margin: 0 10px 0 0;
  color: #1d5cae;
  cursor: pointer;
}
button {
  cursor: pointer;
}
