* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.navbar-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  width: 100%;
  background: #50623a;
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 2vh 170px;
  justify-content: space-between;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links ul li {
  margin: 0 25px;
  font-size: 1.5rem;
}

.navbar-links ul li a {
  color: #fff;
}

.navbar-links h1 {
  color: white;
  margin: 0;
  font-family: Georgia;
  font-size: 1.5rem;
}

.navbar-links button {
  background-color: #435731;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-links button:hover {
  background-color: #252525;
}

@media (max-width: 991px) {
  .navbar-links {
    min-width: 425px;
    max-width: 991px;
    padding: 0 5px;
    justify-content: center;
  }
  .navbar-links ul li {
    margin: 0 5px;
    font-size: 1.5rem;
  }
}
